.sidebar{
        background: black;
        width: 280px;
    
    & &__container{
        position: sticky;
        top: 25px;
        margin: 25px 25px;
    }

    & &__logo{
        max-width: 130px;
    }

    img{
        width: 100%;
    }

    

    & &__elements-container{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 15px;

        
    }

    & &__playlist-create-container{
        
    }

    & &__main-element-text{
        color:#ffff;
        cursor: pointer;
    }

    & &__playlist-create-panel{
        background: #3d3c3c;
        border-radius: 5px;
        position: inherit;
        margin-top: 10px;
        padding: 20px;
        text-align: center;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.1s linear;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        

        h3{
            margin-top: 0;
        }

        button{
            margin-top: 20px;
            margin-bottom: 0;
            padding: 5px 25px;
            border: none;
            background: #20d464;
            border-radius: 5px;
            font-weight: bolder;
            font-size: 0.8rem;
            color: #131313;
            cursor: pointer;
        }
        
    }

    & &__search{
      
    }

    & &__input{
        padding: 12px 0;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        color: #c4c4c4;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #c4c4c4;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            padding: 0 20px;
            color: #c4c4c4;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            transition: 0.3s ease;
        }
        
        &:hover,
        &:focus {
            padding: 12px 15px;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #c4c4c4;
            border-radius: 0;
            background-position: 100% center;

            &::placeholder{
                padding: 0;
                transition: 0.3s ease;
            }
        }
    
    }

    & &__playlist-create-panel.active{
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        display: none;
        position: absolute;
        
        
    }

   

    & &__playlist-container{
        display: flex;
        flex-direction: column;
        gap: 17px;
        margin-top: 25px;
        // border-top: 1px solid rgb(80, 80, 80);
        // padding-top: 15px;
        overflow: auto;
        max-height: 490px;
        height: 100%;
        // overflow-y: hidden;
        overflow-x: hidden;

        h3{
            margin: 0;
            padding: 0;
            color: #fff;
        }

        
    }

   

    /* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

    & &__element{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        font-size: 13px;
    }


    

    & &__main-element-logo{
        margin-right: 12px;
        display: flex;
        flex-direction: row;
    }

    & &__first-main-element-logo{
        display: none;
    }

    & &__first-main-element-logo.active{
        margin-right: 12px;
        display: flex;
        flex-direction: row;
    }

}