.main-first-block{

   

    h1{
        color: #fff;
        font-size: 1.5rem;
        margin: 30px 0;
    }

    

    & &__container{
        display: grid;
        gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;

       
    }

    & &__element{
        color: #fff;
        font-weight: 500;
        display: flex;
        font-size: 0.9rem;
        width: 100%;
        height: 80px;
        background:#302c34;
        border-radius: 5px;
        align-items: center;
    }

    & &__element-img{
        min-width: 50px;
        height: 100%;
        -webkit-box-shadow: 10px 0px 35px -5px rgba(29, 29, 29, 1);
        -moz-box-shadow: 10px 0px 35px -5px rgba(29, 29, 29, 1);
        box-shadow: 10px 0px 35px -5px rgba(29, 29, 29, 1);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: rgb(2,0,36);
        background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(74,0,255,1) 0%, rgba(86,16,255,1) 0%, rgba(163,163,163,1) 100%);
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

        img{
            width: 100%;
            height: 100%;
        }
        
    }

    & &__element-text{
        margin-left: 10px;
        width: 75%;
        text-decoration: none;
    }
}