.main-search-block {

    margin: 0 25px;
    

    & &__container{
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        margin: 25px 0;

    }

    & &__elements-container{
        display: flex;
        gap: 10px;
 
    }

    


    & &__container2{
        display: flex;
        flex-direction: column;
        min-width: 200px;
        width: 25%;
    }

    & &__container1{
        display: flex;
        width: 80%;
        margin-right: 20px;
       flex-direction: column;
    }

    & &__container2-title{
       color: #fff;
       margin-bottom: 25px;
       font-size: 1.5rem;
       font-weight: bold;
       width: 100%;
    }


    & &__content1-container{
    
    
        height: 180px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #221d1d;
        border-radius: 8px;
        
    }

    & &__content1-img{
        
        
        img{
            max-width: 90px;
            width: 100%;
            border-radius: 5px;
        }
    }

    & &__content1-name{
        color: #fff;
        font-weight: bold;
        font-size: 1.7rem;
        
    }

    & &__link{
        text-decoration: none;
    }

    & &__content1-author{
        color: #7c7c7c;
    }

    & &__content2-container{
        height: 180px;
        width: 100%;
        padding: 20px 0 20px 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        color: #fff;
    }

    & &__content2-container-element{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;

        &:hover{
            background: rgba(48, 48, 48, 0.507);
            border-radius: 4px;

            .main-search-block__content2-like{
                display: flex;
            }

            .main-search-block__content2-time-element1{
                opacity: 1;
            }
        }
    
    }

    & &__content2-time{
        color: #b6b6b6;
        margin: 0 20px;
        display: flex;
        gap: 25px;

    }

    & &__content2-like{
       display: none;
       justify-content: center;
       align-items: center;
       background: none;
       padding: 0;
       margin: 0;
       border: 0;
       color: #b6b6b6;
       
    }

    & &__content2-like.active{
        display: block;
    }

    & &__content2-time-element{
        display: flex;
        justify-content: flex-end;
        align-items: center;
       

    }

    & &__content2-time-element1{
        display: flex;
        flex-direction: column;
        opacity: 0;
        align-items: center;
        color: #b6b6b6;
    }

   

    

    & &__content2-time-element2{
       min-width: 50px;
       width: 100%;
       justify-content: flex-end;
       display: flex;
       align-items: center;

    }


    & &__btn-third-container{
        background: #3d3c3c;
        max-width: 140px;
        width: 100%;
        position: absolute;
        border-radius: 3px;
    
        
    }

    & &__btn-third-container.active{
        display: none;
    }


    & &__btn-third-element{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }


    & &__btn-third-option-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
    }

    & &__btn-third-option{
        cursor: pointer;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        &:hover{
            background: rgb(39, 38, 38);
            cursor: pointer;
            border-radius: 3px;
        }
    }

    & &__btn-third-option::after{
        // background: red;
        max-width: 50px;
        width: 100%;
        height: 30px;
        top: 0px;
        content: '';
        position: absolute;
        right: 140px;

    }

    & &__btn-third-option-text{
        padding: 6px 5px;
    }

    & &__btn-third-inside-element{
        background: #3d3c3c;
        max-width: 140px;
        width: 100%;
        border-radius: 3px;
        position: absolute;
        top: 0px;
        right: 150px;

        
    }

    & &__btn-third-inside-element.active{
        display: none;
    }

    & &__btn-third-text{
        padding: 6px 5px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis; 
       
        &:hover{
            background: rgb(39, 38, 38);
            cursor: pointer;
            border-radius: 3px;
        }
    }





    
    

    & &__content2-img-container{
        display: flex;
        gap: 15px;
        max-width: 500px;
        min-width: 150px;
        width: 100%;
    }

    & &__content2-img{
        display: flex;

        img{
            width: 40px;
        }
    }

    & &__content2-text-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    & &__content2-text-first{
        font-size: 1rem;
    }

    & &__content2-text-second{
        font-size: 0.8rem;
        color: #b6b6b6;
    }

   











    & &__element{
        max-width: 275px;
        width: 100%;
        max-height: 275px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        word-wrap: break-word;
        white-space: pre-wrap;

        
    }

    & &__element-img{
        min-width: 150px;
        max-width: 275px;
        height: 100%;
       

        img{
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }

    & &__element-text{
        position: absolute;
        margin: 10px 0;
        text-align: center;
        max-width: 200px;
        

        
        p{
            color: #fff;
            font-weight: bold;
            font-size: 0.9rem;
           
        }
    }

    
}

.search-block-item{

    & &__container{
        margin: 25px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
        min-width: 0;
        gap: 25px;
        
      
    }

    a{
        text-decoration: none;
    }

    & &__element{
        background: #201c1c;
        // max-width: 200px;
        border-radius: 8px;

        display: flex;
        // align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
        

    }

    & &__image-container{
        display: flex;
        justify-content: center;
    }

    & &__element-img{
        margin: 15px 15px 10px 15px;
        border-radius: 8px;
        max-width: 150px;
        width: 100%;
        max-height: 150px;
        align-items: center;

        


        img{
            
            border-radius: 100px;
            width: 100%;
            height: 100%;



        }
    }

    & &__text-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    & &__element-text{
        margin-left: 10px;
      
     

        p{
            color: #fff;
            font-weight: bold;
            font-size: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    

    & &__element-text2{
        margin-left: 10px;
   
  

        p{
            color: #7c7c7c;
            width: 100%;
            
        }
    }

    & &__title{
        color: #fff;
        margin-bottom: 25px;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
        
    }

    & &__title{
        margin-top: 25px;
    }
}

@media(max-width: 800px){
    .main-search-block{
        & &__elements-container{
            flex-direction: column;
            gap: 25px;
        }

        & &__elements-container{
            justify-content: center;
            align-items: center;
        }

        & &__content2-text-second{
            display: none;
        }

        & &__content2-text-container{
            justify-content: center;
        }
    }
}

@media(max-width: 700px){
    .main-second-block{
    & &__container{
        display: grid;
        grid-template-columns: 1fr;

    }
}

.search-block-item{
    & &__container{
        display: grid;
        grid-template-columns: 1fr; 
    }
}
}

