.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    


    & &__container{
        background-color: rgb(72, 32, 176);
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    & &__arrows{
        height: 65px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-left: 25px;
    }

    & &__arrow-left{
        background: #131313;
        opacity: 0.85;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }

    & &__arrow-right{
        background: #131313;
        opacity: 0.85;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50px;
        width: 30px;
        height: 30px;
    }

    & &__user-element{
        margin-right: 25px;
        background: #131313;
        opacity: 0.85;
        color: #fff;
        width: 170px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3{
            font-size: 0.8rem;
            margin: 0;
        }
    }

    & &__user-element-left{
        width: 40px;
        background: #000000;
        border-radius: 50px;
        height: 100%;
    }

    & &__user-element-right{
        width: 30px;
        height: 100%;
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

.searchbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    


    & &__container{
        background-color: #181414;
        min-height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 15px 25px;
    }


    & &__input{
        width: 100%;
        padding: 12px 24px;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        color: #c4c4c4;
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #c4c4c4;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: #c4c4c4;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #c4c4c4;
            border-radius: 0;
            background-position: 100% center;
        }
    
    }
}